%buttonform {
    font-size: .3rem;
    text-transform: uppercase;
    background-color: $transparence;
    color: $color-white;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 10px;
}