$transparence: #00000000;
$color-white:#ffffff;

$color-darkgold:#a88253;
$color-light-gold:#c8a96a;

$color-lightbeige:#faf6f0;
$color-lightbeige-transparent:#faf6f07e;
$color-darkbeige:#f5eee3;
$color-darkbeige-transparent:#f5eee38e;

$color-darktext:#343434;
$color-black:#000000;
$color-darkgrey:#212427;
$color-lightgrey:#6a6f71;

$color-white-card: #fefefe;
$color-grey-card: #c7c7c7;
