
$color-darkgold:#a88253;
$color-lightbeige:#faf6f0;
$color-darkbeige:#f5eee3;
$color-darktext:#343434;
$color-light-gold:#c8a96a;
$color-white:#ffffff;
$transparence: #00000000;
$color-black:#000000;
$color-darkgrey:#212427;
$color-lightgrey:#6a6f71;
$transparence-wht:#ffffff60;
$color-lightbeige-transparent:#faf6f0cc;
$color-black-filter:#00000080;
$color-filter-caption:#000000b3;

//frontawesome
@import '_variable2.scss';











