

.section-category {
    background-image: url('../../images/banner/imgbgcategory.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: red;
    border: 2px solid blue;
    
    h2 {
        border: 2px solid green;

    }
    article {

        .icon {
            height: 20px;
        }
        
    }
}