// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//                   SMARTPHONES (350px -> 410px)
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.section-category {

    position: relative;
    background-color: $color-lightbeige-transparent;
    background-position: center;
    font-family: 'Roboto', sans-serif;

    .banner {
        position: absolute;
        top: 50%;
        left: 52.5%;
        transform: translate(-50%, -50%);
        width: 110vw;
        // height: 100%;
        z-index: -1; 
    }

    h2 {
        @extend %h2form;
        top: 20px;
        // position: absolute;
        // left: 5px;
        // color: $color-darkbeige;
        // text-transform: uppercase;
        // font-size: 2.3rem;
        // font-weight: 100;
        // margin: 0;
        // font-family: 'Cinzel', serif;
    }

    h3 {
        @extend %h3form;
        top: 19px;
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 80% ;
        // text-transform: uppercase;
        // font-family: 'Cinzel', serif;
        // font-weight: 300;
        // font-size: .7rem;
        // text-align: center;
    }
    
    h4 {
        @extend %h4form;
        top: 40px;
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 80% ;
        // font-size: .4rem;
        // font-weight: 300;
        // text-align: center;
    }



    .card-category {
        display: grid;
        grid-template-columns: repeat(6, 50px);
        grid-template-rows: 60px;
        grid-gap: 2vw;
        justify-content: center;
        margin: 70px 0;

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color-white-card;
            
            h5 {
                font-size: .4rem;
                font-weight: 300;
            }

            .icon {
                width: 15px;
            }
    
            .arrow {
                width: 5px;
            }

            &:hover {
                background-color: $color-light-gold;
                color: $color-white-card;
                .icon {
                    filter: brightness(0) invert(1);
                }
                .arrow {
                    filter: invert(100%);
                }
            }
            
        }

        
    }
}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//                   SMARTPHONES (410px -> px)
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++